@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj użytkowniku!</h1>
    <h4>Aby przejść do sklepu proszę się zalogować jak posiadasz konto, jak nie to się zarejestruj</h4>
</div>


