@{
    ViewData["Title"] = "Kontakt";
}
<h1>@ViewData["Title"]</h1>

<p>Skontaktuj się z nami:</p>

<p>Telefon: +48 123 456 789</p>
<p>Email: kontaktcarstore@wp.pl</p>
<p>Adres: ul. Złota 44, 00-001 Warszawa, Polska</p>

<p>Jesteśmy dostępni od poniedziałku do piątku, w godzinach 9:00 - 17:00.</p>

<p>Chętnie odpowiemy na Twoje pytania!</p>
